
<p id="notice"><%= notice %></p>

<div id="warning">
  <%= @negative %>
</div>

<h1>Your Financial Dashboard</h1>

<p id="total">Account Total
  <%= @monies_total %>
</p>
<ul>
  <li> Total amount spent
    <%= @monies_spent %>
  </li>
  <li> This month you made
    <%= @transactions_this_month %>
    transactions and spent
    <%= @spent_this_month %>.
  </li>
  <li> Last month you made
    <%= @transactions_last_month %>
    transactions and spent
    <%= @spent_last_month %>.
  </li>
  <li>Your biggest expense ever was
    <%= @biggest_expense %> and your biggest expense last month was
    <%= @biggest_expense_last_month %>.
  </li>
  <li>You spend most of your money with
    <%= @biggest_recipient %>.
  </li>
</ul>
<br>

<table>
  <thead>
    <tr>
      <th id="top" colspan="5">Your Ten Most Recent Savings Transactions</th>
    </tr>
    <tr>
      <th>Other party</th>
      <th>Amount</th>
      <th>Transaction Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savings = @monies.select {|mony| mony.account.name == "Checking"} %>
    <% 10.times do |i| %>
      <tr>
        <td><%= @savings[i].other_party %></td>
        <td><%= @savings[i].amount %></td>
        <td><%= @savings[i].date_of_transaction %></td>
        <td><%= link_to 'Show', @savings[i] %></td>
        <td><%= link_to 'Edit', edit_mony_path(@savings[i]) %></td>
        <td><%= link_to 'Destroy', @savings[i], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th id="top" colspan="5">Your Ten Most Recent Checking Transactions</th>
    </tr>
    <tr>
      <th>Other party</th>
      <th>Amount</th>
      <th>Transaction Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checking = @monies.select {|mony| mony.account.name == "Checking"} %>
    <% 10.times do |i| %>
      <tr>
        <td><%= @checking[i].other_party %></td>
        <td><%= @checking[i].amount %></td>
        <td><%= @checking[i].date_of_transaction %></td>
        <td><%= link_to 'Show', @checking[i] %></td>
        <td><%= link_to 'Edit', edit_mony_path(@checking[i]) %></td>
        <td><%= link_to 'Destroy', @checking[i], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="wrapper">
  <button class="btn"><%= link_to 'View All Transactions', monies_path %></button>

  <button class="btn"><%= link_to 'New Transaction', new_mony_path %></button>
</div>
