
<p id="notice"><%= notice %></p>

<h1 id="links">Your Transactions</h1>

<div class="wrapper">
  <button class="btn"><%= link_to 'New Transaction', new_mony_path %></button>
  <button class="btn"><%= link_to 'Home', root_path %></button>
</div>

<table>
  <thead>
    <tr>
      <th colspan="5" class="heading">Savings<th>
    </tr>
    <tr>
      <th>Other party</th>
      <th>Amount</th>
      <th>Transaction Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savings = @monies.select {|mony| mony.account.name == "Savings"} %>
    <% @savings.each do |mony| %>
      <tr>
        <td><%= mony.other_party %></td>
        <td><%= mony.amount %></td>
        <td><%= mony.date_of_transaction %></td>
        <td><%= link_to 'Show', mony %></td>
        <td><%= link_to 'Edit', edit_mony_path(mony) %></td>
        <td><%= link_to 'Destroy', mony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="5" class="heading">Checking<th>
    </tr>
    <tr>
      <th>Other party</th>
      <th>Amount</th>
      <th>Transaction Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checking = @monies.select {|mony| mony.account.name == "Checking"} %>
    <% @checking.each do |mony| %>
      <tr>
        <td><%= mony.other_party %></td>
        <td><%= mony.amount %></td>
        <td><%= mony.date_of_transaction %></td>
        <td><%= link_to 'Show', mony %></td>
        <td><%= link_to 'Edit', edit_mony_path(mony) %></td>
        <td><%= link_to 'Destroy', mony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
